body {
 font-family: 'Montserrat', sans-serif;
 background-color: #d9e3ed;
}

header {
 background-color: #f3404f;
 color: white;
 text-align: center;
 padding: 1em;
}

header .homeInicio {
 position: absolute;
 top: 40px;
 right: 150px;
 width: 50px;
}


/* Cuestionario */

.imgCuestionario {
 text-align: center;
}

.cuestionario_1 p {
 font-weight: 500;
 text-align: center;
 padding: 40px;
}

.cuestionario_1 h1 {
 width: 80%;
 height: 80%;
 margin: 0 auto;
 font-size: 35px;
 overflow-y: auto;
 text-shadow: 2px -2px 4px grey;
}

/* Video presentacion */
.vidoPresentaMotiva {
 text-align: center;
}

.videoPrese h1 {
 width: 80%;
 height: 80%;
 margin: 0 auto;
 font-size: 35px;
 overflow-y: auto;
 text-shadow: 2px -2px 4px grey;
}

.videoPrese p {
 font-weight: 500;
 text-align: center;
 padding: 40px;
}

/* PDF Folleto */
.folleto h1 {
 width: 80%;
 height: 80%;
 margin: 0 auto;
 font-size: 35px;
 overflow-y: auto;
 text-shadow: 2px -2px 4px grey;
}

.pdfInfografia {
 text-align: center;
}

.folleto p {
 font-weight: 500;
 text-align: center;
 padding: 40px;
}