body {
 font-family: 'Montserrat', sans-serif;
 background-color: #e0f2fb;
 background-size: cover;
 margin: 0;
 padding: 0;
}

header {
 background-color: #0090ff;
 color: white;
 text-align: center;
 padding: 1em;
 text-shadow: 2px -2px 4px grey;
}

section {
 margin: 20px;
}

#Presen {
 text-align: center;
 margin: 20px;
}

#Presen h2 {
 text-shadow: 2px -2px 4px grey;
}

p {
 text-align: justify;
}

#aficiones {
 text-align: center;
}

#aficiones h2 {
 text-shadow: 2px -2px 4px grey;
}

#aficiones div {
 text-align: justify;
}


#seleccion {
 text-align: center;
 color: rgb(0, 0, 0);
}


#seleccion .titulos .seleccionMultiple {
 margin: 0 0 50px;
}

#seleccion .titulos h2 {
 text-align: center;
 margin: 0 0 30px;
 font-size: 30px;
 text-shadow: 2px -2px 4px grey;
}

#seleccion .titulos .seleccionMultiple {
 width: 940px;
 margin: 25px auto;
 background-color: #0090ff;
 border-radius: 50px;

}

#seleccion .titulos .seleccionMultiple a {
 font-size: 30px;
 line-height: 60px;
 text-decoration: none;
 color: white;
}

#seleccion .titulos .seleccionMultiple:hover {
 box-shadow: 0px 0px 20px #000000;
}

footer {
 text-align: center;
 background: #0090ff;
 padding: 91px;
}

footer .texto_footer {
 text-align: center;
 color: #ffffff;
}




/* Personaliza el estilo según tus preferencias */